<!--
Copyright (c) 2010 Institute for High-Frequency Technology, Technical
University of Braunschweig

This file is part of NOSE.

NOSE is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

NOSE is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with NOSE. If not, see <http://www.gnu.org/licenses/>.
-->
<ui>
    <menubar name="MenuBar">
        <menu action="file">
            <menuitem action="quit"/>
        </menu>
        <menu action="system">
            <menuitem action="editSystemProperties"/>
        </menu>
        <menu action="calibrate">
            <menuitem action="showCalibrationDialog"/>
            <separator/>
            <menuitem action="loadCalibrationData"/>
            <menuitem action="saveCalibrationData"/>
            <menuitem action="saveCalibrationDataAs"/>
            <separator/>
            <menuitem action="clearCalibrationData"/>
        </menu>
        <menu action="debug">
            <menuitem action="magicCalibration"/>
            <menuitem action="fakeCalibration"/>
            <menuitem action="showMagicPyrometer"/>
            <separator/>
            <menuitem action="setCalibrationSpeedNormal"/>
            <menuitem action="setCalibrationSpeed5"/>
            <menuitem action="setCalibrationSpeed10"/>
            <menuitem action="setCalibrationSpeed25"/>
            <separator/>
            <menuitem action="collectGarbage"/>
        </menu>
    </menubar>
</ui>
